* {
  --canvasSizeMult: 4;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background-color: rgb(40, 40, 40);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: calc(320px * var(--canvasSizeMult));
  height: calc(180px * var(--canvasSizeMult));
}

@font-face {
  font-family: "Tiny5";
  src: url("./fonts/Tiny5.ttf") format("truetype");
}
