:root {
  --canvasSizeMult: 4;
}

* {
  margin: 0;
  box-sizing: border-box;
  --onLoadCatTime: 1500ms;
}
@font-face {
  font-family: tiny5;
  src: url("./fonts/Tiny5.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Caveat;
  src: url("./fonts/Caveat.ttf");
  font-weight: 400;
  font-style: normal;
}

.gameWrapper {
  position: absolute;
  margin: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgba(217, 217, 217, 1);
  z-index: 2;
}

.gameWrapper.show {
  display: flex;
}

.case {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(180px * var(--canvasSizeMult));
  width: calc(320px * var(--canvasSizeMult));
  padding: 20px;
  background: linear-gradient(0deg, #dcd8d2 0%, #dcd8d2 100%), linear-gradient(118.82deg, rgba(0, 0, 0, 0) 0.53%, rgba(0, 0, 0, 0.07) 100%);
  background-blend-mode: normal, overlay;
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.62) inset, 0.5px 0.5px 1px 0px rgba(255, 255, 255, 1) inset, -2px -2px 3px 0px rgba(0, 0, 0, 0.09) inset, -0.5px -0.5px 1.4px 0px rgba(0, 0, 0, 0.33) inset, 16px 25px 38.2px 0px rgba(0, 0, 0, 0.25), 5px 4px 21.9px 0px rgba(0, 0, 0, 0.25), 1px 1px 8px 0px rgba(0, 0, 0, 0.19), 2px 2px 4px 0px rgba(0, 0, 0, 0.39) inset;
  border-radius: 10px;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: rgba(46, 47, 50, 1);
  box-shadow: 1px 1px 1.6px 0px rgba(0, 0, 0, 1) inset, -1px -1px 2px 0px rgba(0, 0, 0, 0.3), -0.5px -0.5px 0.6px 0px rgba(0, 0, 0, 0.38), 3px 4px 3.3px 0px rgba(255, 255, 255, 0.48), 0.5px 0.5px 0.8px 0px rgba(255, 255, 255, 1), -0.5px -0.5px 2.1px 0px rgba(255, 254, 246, 0.22) inset;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(110deg, rgba(255, 255, 255, 0.035) 16.86%, rgba(0, 0, 0, 0) 16.86%), linear-gradient(113.77deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100.63%), linear-gradient(0deg, #a9a9a9 0%, #a9a9a9 100%);
  background-blend-mode: normal, overlay, overlay;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.39) inset;
}

.canvasGame {
  background-color: rgb(40, 40, 40);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.39) inset;
}

.mainWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100dvh;
  width: 100%;
  background: linear-gradient(180deg, #ae9bff 43.14%, #7bc4cf 100%);
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  gap: 20px;

  /* background-color: aliceblue; */
}

nav {
  display: flex;
  justify-content: space-between;
  height: 64px;
  width: calc(100% - 64px);
  max-width: 860px;
  margin-top: 24px;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 23px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 2.3px 0px rgba(0, 0, 0, 0.1), 0px 0px 7.6px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transform: translateY(0);
  transition: transform 0.35s cubic-bezier(1, 0, 1, 0.352);
}

nav.moveUp {
  transform: translateY(-100px);
}

.navLogoWrapper {
  display: flex;
  margin-right: 10px;
  justify-content: flex-start;
  align-items: center;
}

.navLogo {
  height: 100%;
}

.navTitle {
  font-family: Caveat;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.32px;
  letter-spacing: -0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 64px;
  text-align: center;
  gap: 45px;
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.75s cubic-bezier(0, 0.398, 0.001, 1), opacity 1s cubic-bezier(0, 0.398, 0.001, 1);
}

.textWrapper.onLoadMove {
  transform: translateY(0);
  opacity: 1;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.title1 {
  font-family: "Inter";
  font-size: 50px;
  font-weight: 500;
  line-height: unset;
  letter-spacing: -0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.title2 {
  font-family: "Caveat";
  font-size: 100px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0em;
}

.paragraph {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}

.buttonTop {
  display: none;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  margin: 4px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  background: linear-gradient(61deg, #000 20%, #484848 120%);
  background-position: 0 0;
  width: 240px;
  cursor: pointer;
}

.buttonTextTop {
  color: white;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.button {
  display: flex;
  padding: 12px 28px;
  margin-top: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  background: linear-gradient(61deg, #000 20%, #484848 120%);
  background-position: 0 0;
  box-shadow: 2.809829615963687e-16px 4.5888px 9.1776px -3px rgba(0, 0, 0, 0.4), 5.4036315365577815e-16px 8.8248px 17.6496px -2px rgba(0, 0, 0, 0.3), 8.790024865560042e-16px 14.3552px 28.7104px -1.1764000000000001px rgba(0, 0, 0, 0.21618), 1.3185037298340065e-15px 21.5328px 43.0656px 1.2944px rgba(0, 0, 0, 0.15736), 1.9561528252140502e-15px 31.9464px 63.8928px 5.8832px rgba(0, 0, 0, 0.10736), 2.637007459668013e-15px 43.0656px 86.1312px 14.3552px rgba(0, 0, 0, 0.057359999999999994),
    -4.2147444239455307e-16px -2.2944px 13.7664px -3px #ffffff00, -8.105447304836671e-16px -4.4124px 26.4744px -2px #ffffff00, -1.3185037298340063e-15px -7.1776px 43.0656px -1.1764000000000001px #ffffff00, -1.9777555947510095e-15px -10.7664px 64.5984px 1.2944px #ffffff00, -2.934229237821075e-15px -15.9732px 95.8392px 5.8832px #ffffff00, -3.955511189502019e-15px -21.5328px 129.1968px 14.3552px #ffffff00;
  width: 240px;
  max-height: 60px;
  cursor: pointer;
  z-index: 2;
  opacity: 1;
  transform: scale(0);
  transition: transform 0.75s cubic-bezier(0, 0.398, 0.001, 1), opacity 0.25s ease-in-out;
}

.button.onLoadMove {
  transform: scale(1);
}

.button.hide {
  opacity: 0;
}

.buttonText {
  color: white;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.canvasCat {
  position: absolute;
  left: 50%;
  bottom: -1250px;
  transform: translateX(-50%) scale(1);
  width: 1100px;
  height: 1100px;
  z-index: 1;
  transition: bottom var(--onLoadCatTime) cubic-bezier(0, 0.145, 0, 1);
}

.canvasCat.onLoadMove {
  bottom: -750px;
  transform: translateX(-50%) scale(1);
}

.canvasCat.openMouthMove {
  animation: catGrow 1s cubic-bezier(0.525, 0.16, 0.314, 1) forwards;
}

.tongue {
  position: absolute;
  z-index: 10;
  bottom: -800px;
  transform: scale(1) translateZ(0);
  -webkit-transform: scale(1) translateZ(0);
  will-change: transform;
}

.tongue.moveUpAndDown {
  animation: tongueUpAndDown 2.5s cubic-bezier(0.724, 0, 0.452, 1) 0.35s forwards, tongueScale 1.3s cubic-bezier(0.372, 0.538, 0.81, 1) 0.35s forwards;
}

@keyframes catGrow {
  0% {
    transform: translateX(-50%) scale(1);
  }
  100% {
    transform: translateX(-50%) scale(2);
  }
}

@keyframes tongueUpAndDown {
  0% {
    bottom: -800px;
    animation-timing-function: cubic-bezier(0.724, 0, 0.452, 1);
  }
  100% {
    bottom: -3000px;
  }
}

@keyframes tongueScale {
  0% {
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0);
  }
  100% {
    transform: scale(5) translateZ(0);
    -webkit-transform: scale(8) translateZ(0);
  }
}

@media (min-width: 400px) {
  .buttonTextTop {
    font-size: 20px;
  }
}

/* Small tablets and large phones (600px and up) */
@media (min-width: 600px) {
  .buttonTextTop {
    font-size: 26px;
  }
  .contentWrapper {
    gap: 20px;
  }

  .textWrapper {
    gap: 46px;
  }

  .title1 {
    font-size: 90px;
    line-height: unset;
    letter-spacing: -0.05em;
  }

  .title2 {
    font-size: 132px;
    line-height: 60px;
  }

  .paragraph {
    font-size: 26px;
    line-height: 31.47px;
    margin: 0;
  }

  .button {
    display: flex;
    padding: 12px 28px;
    margin-top: 28px;
  }

  .canvasCat {
    bottom: -1250px;
    width: 1350px;
    height: 1350px;
    transition: bottom var(--onLoadCatTime) cubic-bezier(0, 0.145, 0, 1);
  }

  .canvasCat.onLoadMove {
    bottom: -950px;
  }
}

/* Tablets (768px and up) */
@media (min-width: 768px) {
  .contentWrapper {
    gap: 10px;
  }

  .textWrapper {
    gap: 60px;
  }

  .title1 {
    font-size: 112px;
    line-height: unset;
    letter-spacing: -0.05em;
  }

  .title2 {
    font-size: 164px;
    line-height: 60px;
  }

  .paragraph {
    font-size: 26px;
    line-height: 31.47px;
    margin: 0;
  }

  .button {
    display: flex;
    padding: 12px 28px;
    margin-top: 28px;
  }
}

/* Small laptops (992px and up) */
@media (min-width: 992px) {
  .contentWrapper {
    gap: 32px;
  }

  .textWrapper {
    gap: 24px;
  }

  .titleWrapper {
    flex-direction: row;
  }

  .title1 {
    font-size: 114px;
    line-height: unset;
    letter-spacing: -0.05em;
  }

  .title2 {
    font-size: 146px;
    line-height: 60px;
  }

  .paragraph {
    font-size: 26px;
    line-height: 31.47px;
    margin: 0;
  }

  .button {
    margin-top: 0px;
  }

  .canvasCat {
    bottom: -1300px;
    width: 1500px;
    height: 1500px;
    transition: bottom var(--onLoadCatTime) cubic-bezier(0, 0.145, 0, 1);
  }

  .canvasCat.onLoadMove {
    bottom: -1000px;
  }
}

/* Laptops and desktops (1200px and up) */
@media (min-width: 1200px) {
}

/* Extra large screens (1400px and up) */
@media (min-width: 1400px) {
  .canvasCat {
    bottom: -1700px;
    width: 1750px;
    height: 1750px;
    transition: bottom var(--onLoadCatTime) cubic-bezier(0, 0.145, 0, 1);
  }

  .canvasCat.onLoadMove {
    bottom: -1250px;
  }
}

@media (max-height: 630px) {
  .button {
    display: none;
  }

  .buttonTop {
    display: flex;
  }
}

@media (min-width: 600px) and (max-width: 991.98px) and (max-height: 449.98px) {
  .contentWrapper {
    gap: 30px;
  }

  .titleWrapper {
    flex-direction: row;
  }

  .title1 {
    font-size: 55px;
    line-height: unset;
    letter-spacing: -0.05em;
  }

  .title2 {
    font-size: 85px;
    line-height: 60px;
  }
  .paragraph {
    display: none;
  }
}

@media (min-width: 1400px) and (min-height: 1080px) {
  .contentWrapper {
    gap: 60px;
  }

  .titleWrapper {
    flex-direction: row;
  }

  .title1 {
    font-size: 160px;
    line-height: unset;
    letter-spacing: -0.05em;
  }

  .title2 {
    font-size: 220px;
    line-height: 60px;
  }
  .paragraph {
    display: unset;
    font-size: 50px;
    line-height: 31.47px;
    margin: 0;
  }

  .canvasCat {
    bottom: -2800px;
    width: 2500px;
    height: 2500px;
    transition: bottom var(--onLoadCatTime) cubic-bezier(0, 0.145, 0, 1);
  }

  .canvasCat.onLoadMove {
    bottom: -1650px;
  }

  .button {
    display: flex;
    padding: 32px 28px;
    border-radius: 64px;
    margin-top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 512px;
    height: 128px;
    max-height: unset;
  }

  .buttonText {
    color: white;
    font-family: "Inter";
    font-size: 64px;
    font-weight: 600;
    line-height: 33.89px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
  }
}

/* iOS specific styles */
@supports (-webkit-touch-callout: none) {
  .title2 {
    letter-spacing: -0.035em;
  }
}
